{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.9"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
